<div class="container mx-auto p-8 max-w-lg text-center bg-white rounded-lg shadow-lg">
    <!-- Botón de Retroceso -->
    <button (click)="goBack()" class="mb-4 px-4 py-2 bg-gray-200 text-gray-700 rounded-lg shadow hover:bg-gray-300">
      ← Regresar
    </button>
  
    <h2 class="text-3xl font-bold mb-4 text-gray-900">Políticas de la Organización</h2>
    <ul class="text-gray-700 text-left space-y-4">
      <li>Respetamos la privacidad de nuestros usuarios y mantenemos confidenciales sus datos personales.</li>
      <li>Cumplimos con todas las normativas de seguridad y protección de datos.</li>
      <li>Nos comprometemos a ofrecer productos y servicios de alta calidad, buscando la mejora continua.</li>
      <li>Promovemos prácticas de sostenibilidad y responsabilidad social en todas nuestras operaciones.</li>
    </ul>
  </div>
  