@switch (step) { 
  @case ('phone') {
    <form-phone
      (onNextStep)="step = $event"
      (phoneNumber)="phoneNumber.set($event)"
      (onPreviousStep)="this.onCancel.emit()"
    />
  } 
  @case ('otp') {
    <form-otp 
      (onNextStep)="step = $event" 
      (onPreviousStep)="step = 'phone'"
      [phone]="phoneNumber()" 
    />
  }
  @case ('success') {
    <success-view
      successTitle="Verificación Exitosa"
      successMessage="Tu número de teléfono ha sido verificado correctamente."
      (onClick)="onRedirect()"
      [hasCustomButtonText]="true"
      customButtonText="Recuperar contraseña"
    />
  }
}


