<!-- email-verification.component.html -->
<div class="w-full max-w-md mx-auto p-4">
  
    <!-- Card Header -->
    <div class="space-y-1 border-b border-[#E0E0E0] p-6">
      <div class="flex justify-center mb-2">
        <div class="p-2 rounded-full bg-[#E91E63]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#FFFFFF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6"
          >
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </svg>
        </div>
      </div>
      <h2 class="text-2xl font-bold text-center text-[#000000]">
        Verificación de correo electrónico
      </h2>
      <p class="text-center text-[#000000]/70">
        Ingresa tu correo electrónico para recibir un enlace de verificación
      </p>
    </div>

    <!-- Form -->
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="p-6 space-y-4">
        <form-input-control
          [form]="emailForm"
          controlName="email"
          label="Correo Electronico"
          iconClass="icon-[mdi--email-outline]"
          errorMessage="Introduzca un correo electrónico válido."
          placeholder="correo@electronico.com"
        />
      </div>

      <!-- Card Footer -->
      <div class="border-t border-[#E0E0E0] p-6">
        <button-control
          buttonClass="w-full flex justify-center py-2 sm:py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-[#E91E63] hover:bg-[#D81B60] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#E91E63] transition-all duration-300 transform hover:scale-[1.02] disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100"
          [text]="isLoading() ? 'Enviando link...' : 'Enviar link de verificación'"
          [hasIconClass]="isLoading()"
          type="submit"
          iconClass="-ml-1 mr-2 h-4 w-4 icon-[line-md--loading-loop] animate-spin"
          [hasDisabledCondition]="true"
          [disabledCondition]="emailForm.invalid || isLoading()"
        />
      </div>
    </form>
</div>
