<div class="flex flex-col lg:flex-row h-screen overflow-hidden">
    <!-- Imagen Izquierda (oculta en pantallas pequeñas) -->
    <div class="w-full lg:w-1/2 hidden lg:block">
      <img
        src="./assets/images/485846c3a4fd2ab5570488170be7d1a3.jpeg"
        alt="Password recovery"
        class="object-cover w-full h-full"
      />
    </div>
  
    <!-- Formulario Derecho -->
    <div class="flex items-center justify-center w-full lg:w-1/2 p-6 md:p-10 lg:p-12">
      <div class="w-full max-w-md">
        <!-- Título -->
        <h2 class="text-2xl font-bold mb-4 text-center text-gray-800 dark:text-gray-200">
          Recuperar Contraseña
        </h2>
        <p class="text-center text-gray-600 mb-6">Ingresa tu correo electrónico para recibir un enlace de recuperación</p>
  
        <!-- Formulario -->
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <div class="relative mb-5">
            <label for="email" class="block text-gray-700 text-sm font-semibold mb-2 dark:text-neutral-400">
              Correo Electrónico
            </label>
            <div class="relative">
              <span
                class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--email-outline] w-5 h-5 text-gray-500"
              ></span>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="w-full border border-gray-300 py-2 pl-10 pr-3 text-base shadow-sm focus:outline-none focus:border-blue-500 dark:border-neutral-700 dark:text-neutral-200"
                placeholder="correo@electronico.com"
                aria-describedby="emailError"
              />
            </div>
            <span *ngIf="requestForm.get('email')?.invalid && requestForm.get('email')?.touched" class="text-red-500 text-sm">
              Por favor, introduce un correo válido.
            </span>
          </div>
  
          <button
            type="submit"
            [disabled]="requestForm.invalid"
            class="w-full py-2 mt-3 bg-black hover:bg-gray-700 text-white rounded-lg transition-colors duration-300 text-lg font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-blue-300 dark:focus:ring-neutral-700"
          >
            Enviar Enlace de Recuperación
          </button>
        </form>
      </div>
    </div>
  </div>
  