<!-- PrommoBanner -->
<app-prommobanner></app-prommobanner>

<div class="flex flex-col lg:flex-row h-screen overflow-hidden">
  <!-- Imagen Izquierda (oculta en pantallas pequeñas) -->
  <div class="w-full lg:w-1/2 hidden lg:block">
    <img
      src="./assets/images/485846c3a4fd2ab5570488170be7d1ae.jpg"
      alt="data-image-model"
      class="object-cover w-full h-full"
    />
  </div>

  <!-- Formulario Derecho -->
  <div class="flex items-center justify-center w-full lg:w-1/2 p-6 md:p-10 lg:p-12">
    <div class="w-full max-w-md">
      <!-- Botón de Regreso -->
      <!-- <button
        (click)="goBack()"
        class="flex items-center mb-3 text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        <span class="icon-[mdi--arrow-left] w-5 h-5 mr-1"></span>
        <span>Regresar</span>
      </button> -->

      <!-- Título -->
      <h1 class="text-2xl font-bold mb-4 font-inter text-center text-gray-800 dark:text-gray-200">
        Iniciar Sesión
      </h1>

      <!-- Formulario -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Input Correo Electrónico -->
        <div class="relative mb-5">
          <label
            class="block text-gray-700 text-sm font-semibold mb-2 dark:text-neutral-400"
            for="email"
          >
            Correo Electrónico
          </label>
          <div class="relative">
            <span
              class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--email-outline] w-5 h-5 text-gray-500"
            ></span>
            <input
              type="email"
              formControlName="email"
              id="email"
              class="w-full border border-gray-300 rounded-lg py-2 pl-10 pr-3 text-base shadow-sm focus:outline-none focus:border-gray-500 dark:border-neutral-700 dark:text-neutral-200"
              placeholder="correo@electronico.com"
              aria-describedby="emailError"
              attr.aria-invalid="{{ loginForm.get('email')?.invalid }}"
            />
          </div>
          <span
            *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            id="emailError"
            class="text-red-500 text-sm"
          >
            Introduzca un correo electrónico válido.
          </span>
        </div>

        <!-- Input Contraseña -->
        <div class="relative mb-5">
          <label
            class="block text-gray-700 text-sm font-semibold mb-2 dark:text-neutral-400"
            for="password"
          >
            Contraseña
          </label>
          <div class="relative">
            <span
              class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--key-outline] w-5 h-5 text-gray-500"
            ></span>
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              id="password"
              class="w-full border border-gray-300 rounded-lg py-2 pl-10 pr-10 text-base shadow-sm focus:outline-none focus:border-gray-500 dark:border-neutral-700 dark:text-neutral-200"
              placeholder="Ingresa tu contraseña"
              aria-describedby="passwordError"
              attr.aria-invalid="{{ loginForm.get('password')?.invalid }}"
            />
            <!-- Botón para mostrar/ocultar contraseña -->
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
            >
              <span
                [class.icon-[mdi--eye-outline]]="!showPassword"
                [class.icon-[mdi--eye-off-outline]]="showPassword"
                class="w-5 h-5"
              ></span>
            </button>
          </div>
          <span
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            id="passwordError"
            class="text-red-500 text-sm"
          >
            La contraseña es requerida.
          </span>
        </div>

        <!-- Botón de Envío -->
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-full py-2 mt-3 bg-black hover:bg-gray-600 text-white rounded-lg transition-colors duration-300 text-lg font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-blue-300 dark:focus:ring-neutral-700"
        >
          Iniciar Sesión
        </button>

        <!-- Link de Registro -->
        <small class="block mt-4 text-center text-gray-500 dark:text-neutral-400 text-sm">
          ¿Aún no está registrado? Pulse
          <a
            routerLink="/signup"
            class="text-blue-500 hover:text-blue-700 font-medium transition-colors duration-200"
          >
            aquí
          </a>
          para crear su cuenta.
        </small>
        <small class="block mt-4 text-center text-gray-500 dark:text-neutral-400 text-sm">
            ¿Olvidates tu contraseña? Pulse
            <a
              routerLink="/request-password"
              class="text-blue-500 hover:text-blue-700 font-medium transition-colors duration-200"
            >
              aquí
            </a>
            para recuperarla.
          </small>
      </form>
    </div>
  </div>
</div>
