<!-- PrommoBanner -->
<app-prommobanner></app-prommobanner>

<div class="flex flex-col lg:flex-row h-screen overflow-hidden">
    <!-- Imagen Izquierda (oculta en pantallas pequeñas) -->
    <div class="w-full lg:w-1/2 hidden lg:block">
        <img src="./assets/images/485846c3a4fd2ab5570488170be7d1ae.jpg" alt="data-image-model"
            class="object-cover w-full h-full">
    </div>

    <!-- Formulario Derecho -->
    <div class="flex items-center justify-center w-full lg:w-1/2 p-6 md:p-10 lg:p-12">

        <div class="w-full max-w-md">
            <!-- Botón de Regreso -->
            <button (click)="goBack()"
                class="flex items-center mb-3 text-gray-500 hover:text-gray-700 focus:outline-none">
                <span class="icon-[mdi--arrow-left] w-5 h-5 mr-1"></span>
                <span>Regresar</span>
            </button>

            <!-- Título -->
            <h1 class="text-2xl font-bold mb-4 font-inter text-center text-gray-800 dark:text-gray-200">
                Iniciar Sesión
            </h1>

            <!-- Formulario -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="relative mb-5">
                    <!-- Input Correo Electrónico -->
                    <input type="email" formControlName="email" placeholder=" " class="peer w-full border-b-2 rounded-full shadow-md border-gray-300 py-3 pl-10 pr-3 text-base bg-transparent 
                                  focus:pt-5 focus:pb-1 
                                  [&:not(:placeholder-shown)]:pt-5 [&:not(:placeholder-shown)]:pb-1 
                                  focus:outline-none focus:border-gray-500 dark:focus:border-neutral-600 
                                  dark:border-neutral-700 dark:text-neutral-200 placeholder-transparent">

                    <!-- Label flotante ajustado -->
                    <label
                        class="absolute left-10 top-3 text-gray-600 text-sm font-sans transform origin-left 
                           transition-all duration-200 ease-in-out pointer-events-none 
                           dark:text-neutral-400 
                           peer-focus:text-blue-500 peer-focus:font-bold peer-focus:top-1 peer-focus:scale-90 peer-focus:-translate-y-1.5 
                           peer-placeholder-shown:top-3 peer-placeholder-shown:left-10 peer-placeholder-shown:scale-100 
                           peer-[:not(:placeholder-shown)]:top-1 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:-translate-y-1.5">
                        Correo Electrónico
                    </label>

                    <!-- Icono de correo de Iconify -->
                    <span
                        class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--email-outline] w-5 h-5 text-gray-500"></span>
                </div>

                <div class="relative mb-5">
                    <!-- Input Contraseña -->
                    <input type="password" formControlName="password" placeholder=" " class="peer w-full border-b-2 rounded-full shadow-md border-gray-300 py-3 pl-10 pr-3 text-base bg-transparent 
                           focus:pt-5 focus:pb-1 [&:not(:placeholder-shown)]:pt-5 [&:not(:placeholder-shown)]:pb-1 
                           focus:outline-none focus:border-gray-500 dark:focus:border-neutral-600 
                           dark:border-neutral-700 dark:text-neutral-200 placeholder-transparent">

                    <!-- Label flotante para contraseña -->
                    <label
                        class="absolute left-10 top-3 text-gray-600 text-sm font-sans transform origin-left 
                    transition-all duration-200 ease-in-out pointer-events-none 
                    dark:text-neutral-400 
                    peer-focus:text-blue-500 peer-focus:font-bold peer-focus:top-1 peer-focus:scale-90 peer-focus:-translate-y-1.5 
                    peer-placeholder-shown:top-3 peer-placeholder-shown:left-10 peer-placeholder-shown:scale-100 
                    peer-[:not(:placeholder-shown)]:top-1 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:-translate-y-1.5">
                        Contraseña
                    </label>

                    <!-- Icono de llave de Iconify -->
                    <span
                        class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--key-outline] w-5 h-5 text-gray-500"></span>
                </div>

                <!-- Botón de Envío -->
                <button type="submit" class="w-full py-2 mt-3 bg-black hover:bg-gray-600 text-white rounded-lg 
                        transition-colors duration-300 text-lg font-semibold shadow-md 
                        focus:outline-none focus:ring-2 focus:ring-blue-300 dark:focus:ring-neutral-700">
                    Iniciar Sesión
                </button>

                <!-- Link de Registro -->
                <small class="block mt-4 text-center text-gray-500 dark:text-neutral-400 text-sm">
                    ¿Aún no está registrado? Pulse
                    <a href="#"     class="text-blue-500 hover:text-blue-700 font-medium transition-colors duration-200">
                        aquí
                    </a>
                    para crear su cuenta.
                </small>
            </form>
        </div>
    </div>
</div>

