<div class="flex flex-col lg:flex-row h-screen overflow-hidden">
  <!-- Imagen Izquierda (oculta en pantallas pequeñas) -->
  <div class="w-full lg:w-1/2 hidden lg:block">
    <img
      src="./assets/images/485846c3a4fd2ab5570488170be7d1ae.jpg"
      alt="Reset password"
      class="object-cover w-full h-full"
    />
  </div>

  <!-- Formulario Derecho -->
  <div
    class="flex items-center justify-center w-full lg:w-1/2 p-6 md:p-10 lg:p-12"
  >
    <div class="w-full max-w-md">
      <!-- Título -->
      <h2
        class="text-2xl font-bold mb-4 text-center text-gray-800 dark:text-gray-200"
      >
        Restablecer Contraseña
      </h2>
      <p class="text-center text-gray-600 mb-6">
        Introduce tu nueva contraseña
      </p>

      <!-- Formulario -->
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <!-- Nueva Contraseña -->
        <div class="relative mb-5">
          <label
            for="newPassword"
            class="block text-gray-700 text-sm font-semibold mb-2 dark:text-neutral-400"
          >
            Nueva Contraseña
          </label>
          <div class="relative">
            <span
              class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--key-outline] w-5 h-5 text-gray-500"
            ></span>
            <input
              [type]="newShowPassword ? 'text' : 'password'"
              id="newPassword"
              formControlName="newPassword"
              class="w-full border border-gray-300 py-2 pl-10 pr-3 text-base shadow-sm focus:outline-none focus:border-blue-500 dark:border-neutral-700 dark:text-neutral-200"
              placeholder="Ingresa tu nueva contraseña"
              aria-describedby="newPasswordError"
            />
            <button
              type="button"
              (click)="toggleNewPasswordVisibility()"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
            >
              <span
                [class.icon-[mdi--eye-outline]]="!newShowPassword"
                [class.icon-[mdi--eye-off-outline]]="newShowPassword"
                class="w-5 h-5"
              ></span>
            </button>
          </div>
          <span
            *ngIf="
              resetForm.get('newPassword')?.hasError('pattern') &&
              resetForm.get('newPassword')?.touched
            "
            class="text-red-500 text-sm"
          >
            La contraseña debe tener entre 8 y 20 caracteres, incluyendo una
            mayúscula, una minúscula, un número y un símbolo.
          </span>
          <span
            *ngIf="
              resetForm.get('newPassword')?.hasError('required') &&
              resetForm.get('newPassword')?.touched
            "
            class="text-red-500 text-sm"
          >
            La contraseña es requerida.
          </span>
        </div>

        <!-- Confirmar Contraseña -->
        <div class="relative mb-5">
          <label
            for="confirmPassword"
            class="block text-gray-700 text-sm font-semibold mb-2 dark:text-neutral-400"
          >
            Confirmar Contraseña
          </label>
          <div class="relative">
            <span
              class="absolute left-3 top-1/2 transform -translate-y-1/2 icon-[mdi--key-outline] w-5 h-5 text-gray-500"
            ></span>
            <input
              [type]="confirmShowPassword ? 'text' : 'password'"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="w-full border border-gray-300 py-2 pl-10 pr-3 text-base shadow-sm focus:outline-none focus:border-blue-500 dark:border-neutral-700 dark:text-neutral-200"
              placeholder="Confirma tu nueva contraseña"
              aria-describedby="confirmPasswordError"
            />
            <button
              type="button"
              (click)="toggleConfirmPasswordVisibility()"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
            >
              <span
                [class.icon-[mdi--eye-outline]]="!confirmShowPassword"
                [class.icon-[mdi--eye-off-outline]]="confirmShowPassword"
                class="w-5 h-5"
              ></span>
            </button>
          </div>
          <span
            *ngIf="
              resetForm.hasError('mismatch') &&
              resetForm.get('confirmPassword')?.touched
            "
            class="text-red-500 text-sm"
          >
            Las contraseñas no coinciden.
          </span>
        </div>

        <!-- Botón de Restablecer Contraseña -->
        <button
          type="submit"
          [disabled]="resetForm.invalid"
          class="w-full py-2 mt-3 bg-black hover:bg-gray-700 text-white rounded-lg transition-colors duration-300 text-lg font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-blue-300 dark:focus:ring-neutral-700"
        >
          Restablecer Contraseña
        </button>
      </form>
    </div>
  </div>
</div>
