<div class="social-bubble" [class.closed]="!isOpen">
  <div class="toggle-container">
    <button class="toggle-button" (click)="toggleBubble()">
      <span *ngIf="isOpen">✖</span>
      <span *ngIf="!isOpen">☰</span>
    </button>
  </div>
  <div class="icons-container" *ngIf="isOpen">
    <a
      *ngFor="let site of socialSites"
      [href]="site.url"
      target="_blank"
      class="social-icon"
      [ngClass]="site.name"
    >
      <img [src]="site.icon" class="icon-img" />
    </a>
  </div>
</div>
