<!-- Footer -->
<footer class="bg-white border-t border-gray-200 py-6">
    <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between text-center lg:text-left px-4">

        <!-- Logo -->
        <div class="mb-4 lg:mb-0">
            <img src="./assets/images/logo.png" alt="HOLAA Trendy Logo" width="200">
        </div>

        <!-- Links de Navegación y Derechos -->
        <div class="flex flex-col items-center lg:items-start mb-4 lg:mb-0 space-y-2 lg:space-y-0">

            <!-- Links de Navegación -->
            <div class="flex space-x-6">
                <a href="#" class="text-gray-600 hover:text-gray-800 font-medium transition duration-200">Conócenos</a>
                <a href="#" class="text-gray-600 hover:text-gray-800 font-medium transition duration-200">Políticas</a>
                <a href="#" class="text-gray-600 hover:text-gray-800 font-medium transition duration-200">Únete</a>
                <a href="#"
                    class="text-gray-600 hover:text-gray-800 font-medium transition duration-200">Contáctanos</a>
            </div>

            <!-- Derechos Reservados -->
            <div class="w-full text-center text-gray-500 text-sm mt-4 lg:mt-0 lg:order-last">
                <span>©2024 HOLAA. Todos los derechos reservados</span>
            </div>
        </div>

        <!-- Redes Sociales -->
        <div class="flex space-x-4">
            <a href="#" class="text-gray-500 hover:text-blue-600 transition duration-200">
                <span class="icon-[mdi--facebook] w-6 h-6"></span>
            </a>
            <a href="#" class="text-gray-500 hover:text-sky-400 transition duration-200">
                <span class="icon-[mdi--twitter] w-6 h-6"></span>
            </a>
            <a href="#" class="text-gray-500 hover:text-pink-500 transition duration-200">
                <span class="icon-[mdi--instagram] w-6 h-6"></span>
            </a>
            <a href="#" class="text-gray-500 hover:text-red-500 transition duration-200">
                <span class="icon-[ic--baseline-tiktok] w-6 h-6"></span>
            </a>
            <a href="#" class="text-gray-500 hover:text-red-600 transition duration-200">
                <span class="icon-[mdi--at] w-6 h-6"></span> <!-- Icono de Contacto o Correo -->
            </a>
        </div>
    </div>
</footer>