<!-- Modales (Anuncio de ofertas) -->


<!-- Seccion de banner promocional -->
<section class="container mx-auto px-4 py-10">
  <!-- Banner promocional -->
  <promotional-banner
    title="!DESCUENTO EXCLUSIVO¡"
    subtitle="COMPRA AHORA Y AHORRA EN TUS PRENDAS FAVORITAS"
    discount="50%"
  />
</section>

<!-- Seccion de servicios especiales -->
<section
  class="container mx-auto px-4 py-10 grid grid-cols-1 md:grid-cols-3 gap-8 mt-12 border-t pt-8"
>
  <service-features
    title="ENVÍO A TODO HUEJUTLA"
    description="Contamos con envíos garantizados a todo el estado de Huejutla"
    icon="icon-[hugeicons--package]"
  />

  <service-features
    title="ATENCIÓN AL CLIENTE"
    description="Te entendemos con gusto y resolvemos todas tus dudas"
    icon="icon-[hugeicons--customer-support]"
  />

  <service-features
    title="PAGOS SEGUROS"
    description="HOLAA Trendy ofrece pagos seguros, rápidos y fáciles."
    icon="icon-[hugeicons--shopping-basket-secure-01]"
  />
</section>

<!-- Slider de categorias -->
<slider-categories />

<!-- Seccion de productos especiales -->
<featured-products
  id="bestSellers"
  titleP="Top 10 de la semana"
  description="Descubre nuestros productos más populares"
  [products]="bestSellers"
/>

<featured-products
  id="bestOffers"
  titleP="Ofertas"
  description="Descubre nuestros productos en oferta"
  [products]="bestOffers"
/>

<featured-products
  id="newArrivals"
  titleP="Recien Llegados"
  description="Descubre nuestros productos más recientes"
  [products]="newArrivals"
/>
