<section class="container mx-auto px-4 py-10">
  <promotional-banner />
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12 border-t pt-8">
    <service-features
      title="ENVÍO A TODO HUEJUTLA"
      description="Contamos con envíos garantizados a todo el estado de Huejutla"
      icon="icon-[hugeicons--package]"
    />

    <service-features
      title="ATENCIÓN AL CLIENTE"
      description="Te entendemos con gusto y resolvemos todas tus dudas"
      icon="icon-[hugeicons--customer-support]"
    />

    <service-features
      title="PAGOS SEGUROS"
      description="HOLAA Trendy ofrece pagos seguros, rápidos y fáciles."
      icon="icon-[hugeicons--shopping-basket-secure-01]"
    />
  </div>
</section>

<slider-categories />
