<nav class="text-gray-600 text-sm">
    <ol class="list-none flex gap-2">
      <li *ngFor="let item of items; let last = last">
        <a 
          *ngIf="!last; else lastItem"
          [routerLink]="item.url"
          class="hover:text-gray-900 transition-colors">
          {{ item.label }}
        </a>
        <ng-template #lastItem>
          <span class="text-gray-500">{{ item.label }}</span>
        </ng-template>
        <span *ngIf="!last" class="mx-1 text-gray-400">/</span>
      </li>
    </ol>
  </nav>
  